---
import Layout from '../layouts/Layout.astro';
import FontawesomeIcon from "../components/FontawesomeIcon.astro";
import { faPercent, faGauge, faCalculator } from "@fortawesome/free-solid-svg-icons";
import Category from "../components/Category.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro"

import { title as DTCTitle, description as DTCDescription } from "./tool/technical/_DTC.tsx"
import { title as ARCTitle, description as ARCDescription } from "./tool/technical/_ARC.tsx"

import { title as DBCCTitle, description as DBCCDescription } from "./tool/demographic/_DBCC.tsx"

import { site } from "../config/site"

const description = "Access a variety of hand-crafted technical and demographic tools"

---

<Layout title={site.name} description={description}>
	<section class="container grid items-center gap-6 pt-6 pb-8 mx-auto px-6 md:py-10">
		<Header
			title={site.name}
			description={description}
		/>

		<Category title="Technical">
			<Card
				title={ARCTitle}
				description={ARCDescription}
				href={"/tool/technical/aspect-ratio-calculator"}
				icon={faPercent}
			/>
			<Card
				title={DTCTitle}
				description={"Calculate the download time for a file size with a given network speed"}
				href={"/tool/technical/download-time-calculator"}
				icon={faGauge}
			/>
		</Category>

		<Category title="Demographic">
			<Card
				title={DBCCTitle}
				description={DBCCDescription}
				href={"/tool/demographic/deathbirth-coefficient-calculator"}
				icon={faCalculator}
			/>
		</Category>

	</section>
</Layout>
